.logicforgeParameterHeading {
  .logicforgeParameterHeading__title {
    font-size: 1.12rem;
  }
  .logicforgeParameterHeading__subtitle {
    font-size: .9rem;
    font-variant: all-small-caps;
  }
}