.logicforgeFrameEditor {
  &__processFrame {
    .logicforgeFrameHeading__subtitle {
      color: #37ac8f;
    }
  }
  &__actionFrame {
    .logicforgeFrameHeading__subtitle {
      color: #37ac8f;
    }
  }
  &__functionFrame {
    .logicforgeFrameHeading__subtitle {
      color: #37ac8f;
    }
  }
}

.logicforgeFrameHeading {
  .logicforgeFrameHeading__title {
    font-size: 1.5rem;
  }
  .logicforgeFrameHeading__subtitle {
    font-size: 1rem;
    font-variant: all-small-caps;
    font-weight: 500;
  }
}